*{
    font-family: system-ui, "Liberation Sans", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";;
}
p{
    text-indent: 10px;
}
article{
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
body {
    min-width: 300px;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}
p+.right{
    text-align: right;
}
.home-banner h1{
    position: absolute;
    bottom: 0;
    padding: 20px;
    color: var(--logo-bg);
    margin: 0;
    font-size: xx-large;
}

nav a, div a{
    color: #f2f2f2;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    text-decoration: none;
    white-space: nowrap;
}

:root{
    --logo-bg: #ffc72e;
    --logo-bg-hover: #ffdb58;
    --nav-blue: rgb(46, 60, 112);
    --dark-blue: rgb(46, 46, 95);
    --light-blue: rgb(45, 89, 155);
}

/* #region nav */

nav{
    height: 40px;
    background-color: var(--nav-blue);
    padding-right: 10px;
    padding-left: 10px;
}

nav a {
    height: 40px;
    padding: 10px;
    transition: background-color 0.3s ease, color 0.3s ease;
}
nav a:hover {
    background-color: #ddd;
    color: black;
}

.yellow{
    background-color: var(--logo-bg);
    color: black;
}
.yellow:hover{
    background-color: var(--logo-bg-hover);
}

.nav-container {
    position: relative;
    display: flex;
    justify-content: space-between;
    height: 40px;
}
.nav-container-right{
    flex-direction: row-reverse;
}
    /* #region logo */

.logo {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 80px;
}

.logo-container {
    align-items: center;
    position: relative;
}

.logo-banner {
    position: absolute;
    top: 0;
    left: 0;
    height: 80px;
    border-radius: 0 0 40px 40px;
}

.logo-banner,.logo-container{
    transition: background-color 0.3s ease, height 0.3s ease;
    width: 80px;
    background-color: var(--logo-bg);
}

.logo-banner:hover, .logo-container:hover {
    background-color: var(--logo-bg-hover);
}

.logo-banner:hover{
    height: 100px;
}

/* #endregion */

.dropdown-1, .dropdown-2{
    display: none;
}
/* #endregion nav */
/* #region main */

.home-banner {
    position: relative;
    background-image: url('view_truong_le_hong_phong.png');
    aspect-ratio: 16/9;
    max-height: 500px;
    background-position: center;
    background-size: cover;
    position: relative;
    image-rendering:optimizeQuality;
    z-index: -1;
    width: 100%;
}

main {
    padding-top: 0;
}

section {
    margin: 20px;
    padding-top: 0;
    overflow: hidden;
}
section.News{
    border-radius: 20px;
    background-color: var(--light-blue);
}
.news-header {
    background-color: var(--nav-blue);
    color: #f2f2f2;
    padding: 5px;
    text-align: center;
    font-size: large;
}

form {
    padding: 20px;
    border-radius: 20px;
    background-color: var(--light-blue);
    display: flex;
    flex-direction: column;
    gap: 15px;
}
form div {
    display: flex;
    align-items: center;
}
    form input, form textarea {
        margin: 0 20px;
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 10px;
        font-size: medium;
    }

    form input:focus, form select:focus, form textarea:focus {
        outline: 3px solid var(--nav-blue);
    }

    form label {
        font-weight: bold;
        color: white;
    }

    form button {
        background-color: var(--nav-blue);
        color: #fff;
        border: none;
        padding: 10px 20px;
        border-radius: 5px;
        cursor: pointer;
        transition: background-color 0.3s ease;
    }
    form input[type="checkbox"] {
        margin: 0 20px;
        width: 20px;
        height: 20px;
        cursor: pointer;
    }

    form input[type="checkbox"]:focus {
        outline: 3px solid var(--nav-blue);
    }
    form button:hover {
        background-color: var(--dark-blue);
    }
form div label{
    padding: 10px;
}
.admission-header{
    border-radius: 20px;
    background-color: var(--nav-blue);
    color: #f2f2f2;
    padding: 5px;
    text-align: center;
    font-size: large;
}

/* #region carousel */
.carousel-container {
    position: relative;
    overflow: hidden;
    margin: 20px;
}

.carousel {
    position: relative;
    display: flex;
    transition: transform 0.5s ease;
}

.carousel-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    z-index: 1;
}
.carousel-button.prev {
    left: 10px;
}
.carousel-button.next {
    right: 10px;
}

/* #endregion carousel */

/* #region card */
.img-card{
    margin: 10px;
    width: 100%;
    object-fit: cover;
}

.descript-card {
    margin: 10px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    text-align: center;
    min-width: calc(25% - 20px);
    max-width: calc(25% - 20px);;
    height: 450px;
  }
  
  .card-image {
    width: 100%;
    height: auto;
  }
  
  .card-content {
    position: relative;
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card-title {
    margin-top: 0;
    font-size: large;
    font-weight: bold;
    color: black;
    white-space: wrap;
}
.card-title:hover {
    color: gray;
}

.card-description {
    color: #666;
    margin-top: 20px;
    overflow: hidden;
}

.card-link {
    display: inline-block;
    padding: 10px 20px;
    background-color: var(--dark-blue);
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.card-link:hover {
    background-color: var(--light-blue);
}

/* #endregion card */  

/* #endregion main */

/* #region footer */



footer{
    background-color: var(--nav-blue);
    color: #f2f2f2;
    padding: 5px;
    text-align: center;
    font-size: small;
}
@media screen and (max-width: 700px) {
    .descript-card {
        min-width: calc(33.33% - 20px);
    }
}
/* #endregion footer */

@media screen and (max-width: 640px) {
    /* #region right */
    
    .dropdown-1 {
        display: block;
        height: 40px;
        color: #f2f2f2;
        padding-top: 5px;
        box-sizing: border-box;
        text-decoration: none;
        transition: color 0.3s ease;
    }
    .optional-content-1{
        display: none;
        height: auto;
        position: absolute;
        top: 40px;
        right: 0;
        flex-direction: column;
        background-color: var(--dark-blue);
        border-radius: 0 0 10px 10px;
    }
    .dropdown-1:hover{
        color: var(--logo-bg-hover);
    }
    
    .dropdown-1:hover + .optional-content-1,
    .optional-content-1:hover {
        display: flex;
    }
    
    /* #endregion right */
    .news-container {
        flex-wrap: wrap;
    }
}

@media screen and (max-width: 480px) {
    /* #region leftside */
    .dropdown-2 {
        display: block;
        height: 40px;
        padding-top: 5px;
        color: #f2f2f2;
        box-sizing: border-box;
        text-decoration: none;
        transition: color 0.3s ease;
    }
    .optional-content-2{
        display: none;
        height: auto;
        position: absolute;
        top: 40px;
        right: 0;
        flex-direction: column;
        background-color: var(--dark-blue);
        border-radius: 0 0 10px 10px;
    }
    .dropdown-2:hover{
        color: var(--logo-bg-hover);
    }
    
    .dropdown-2:hover + .optional-content-2,
    .optional-content-2:hover {
        display: flex;
    }
    /* #endregion leftside */
    .descript-card {
        min-width: calc(50% - 20px);
    }
}